.weather{
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    color: #000;
    
}
.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city{
    font-size:2rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}
.weather-description{
    font-size: .9rem;
    line-height: 1;
    margin:1px 0px;
}
.temperature{
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    
}
.details{
width: 40%;
}
.detail-row{
    display: flex;
    justify-content: space-between;
}

.detail-row p{
    font-size: .9rem;
    line-height: 1;
    margin: 1px;
    padding: 0;
}
