.forecast__button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    margin: .5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast__button:hover {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
}

.forecast__icon {
    display: flex;
    align-items: center;
}

.forecast__icon img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.forecast__description span:first-child {
    margin-right: 0.5rem;
}

.forecast__description span:not(:first-child) {
    font-family: .6rem;
    color: #999;
}

.forecast__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: .8em 1em;
}

.forecast__details div {
    width: 45%;
}

.forecast__details div>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em auto;
}

@media screen and (max-width: 768px) {
    .forecast__button div {
        width: 100%;
        margin-bottom: .5em;
    }

    .forecast__button div:last-child {
        margin-bottom: 0;
    }

    .forecast__details div {
        width: 100%;
    }

}